name: Schedemy CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Upload to S3
        run: |
          aws deploy push \
            --application-name SchedemyBackend \
            --s3-location s3://schedemy-deployments/schedemy-revision.zip \
            --source .

      - name: Create CodeDeploy Deployment
        run: |
          aws deploy create-deployment \
            --application-name SchedemyBackend \
            --deployment-group-name SchedemyDeploymentGroup \
            --s3-location bucket=schedemy-deployments,key=schedemy-revision.zip,bundleType=zip
